body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.felhasznalonev {
    position: relative;
}

p {
    display: none;
    position: absolute;
    top: -21.5px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: gray;
    background: white;
}

@keyframes animacio {
    0% {transform: translateY(0px);}
    25% {transform: translateY(0px);}
    50% {transform: translateY(-18px);}
    100% {transform: translateY(-18px);}
}

@keyframes animacio2 {
    0% {transform: translateY(0px);}
    25% {transform: translateY(0px);}
    50% {transform: translateY(18px);}
    100% {transform: translateY(18px);}
}

span {
    z-index: -1;
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    font-size: 14px;
    animation: none;
    color: gray;
    background: white;
}

input {
    background: none;
    width: 250px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: 2px solid gray;
    border-radius: 10px;
}

.fnev::placeholder {
    color: transparent;
}

input::placeholder {
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(184, 24, 184);
}